name: Update scores cronjob
on:
  schedule:
    - cron: "0 * * * *"

jobs:
  update-scores:
    runs-on: ubuntu-latest
    name:
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 15
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn --frozen-lockfile

      - name: Update scores
        run: DATABASE_URL=${{env.DATABASE_URL}} npx ts-node ./db/updateScores.ts
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
